.search-box{      
    position: absolute;   /* ให้อยู่นอกสุด */
    margin-top: 35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    
}

.search-card-book {
    position: absolute;
    border: 1px solid hsl(0, 0%, 100%);
    width: 70vw;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 5px 10px rgba(136, 136, 136, 0.26);
    margin-top: 7%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 55px;
    color: rgb(0, 0, 0);
    display: flex;
    border-radius: 5px;
}

@keyframes animate {
    20% {
        filter: blur(0);
    }

    100% {
        filter: blur(20px);
    }
}

.line-hotel{
    width: 40%;
}

.chack-in{
    width: 16%;
}

.chack-out{
    width: 16%;
}

.chack-person{
    text-align: center;
    width: 8%;
}

.chack-sun{
    text-align: center;
    width: 8%;
}

.chack-button{
    text-align: center;
    width: 12%;
}

.gsearch-hotel{
    width: 90%;
}

.birthday{
    width: 90%;
}

.cars-book{
    width: 50%;
}