.body-fm{
  background-color: rgb(245, 245, 245);
}

.dox-search-famous {
  position: absolute;
  top: 70px; 
  left: 30px; 
  width: 210px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.famous-button-add {
  margin-top: 5px;
  margin-left: 20%;
  width: 150px;
  height: 40px;
}

.box-Famous {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 200px;
  margin-top: 10px;
  padding: 0 20px;
  padding-bottom: 20px;
}

.box-item-bar {
  width: auto;
  margin-top: 10px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding-bottom: 10px;
  overflow-x: auto;
}

.box-item-bar:hover {
  width: auto;
  margin-top: 10px;
  height: auto;
  background: #fd720011;
  border: 1px solid hsla(19, 100%, 50%, 0.349);
  border-radius: 5px;
  padding-bottom: 10px;
  overflow-x: auto;
}

.box-item-bar-img {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

.box-item-bar-img-1 {
  object-fit: cover;
  aspect-ratio: 16/8;
}

.box-item-bar-txt {
  width: 980px;
  height: auto;
  margin-top: 10px;
  display: flex;
  margin-left: 10px;
  border-radius: 10px;
  
}

.box-item-bar-txt-1 {
  margin-top: 10px;
  margin-left: 10px;
  width: 490px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.box-item-bar-txt-1-p {
  font-size: 20px;
  line-height: 1;
  color: #000000;
  font-weight: bold;
}

.box-item-bar-txt-1-p-p {
  font-size: 15px;
  color: #434242;
}

.open {
  color: green;
}

.closed {
  color: red;
}

.popular__card__header_button {
  margin: auto;
  border-radius: 50%; /* ทำให้มีรูปร่างเป็นวงกลม */
  border: 1px solid rgb(0, 0, 0);
  height: 50px;
  width: 50px; /* เพิ่มความกว้างเพื่อให้เป็นวงกลมแทนสี่เหลี่ยม */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease; /* เพิ่มการเปลี่ยนแปลงเป็น smooth */
}

.popular__card__header_button:hover {
  border: 1px solid rgb(253, 253, 253);
  color: rgb(63, 63, 63);
  background-color: rgba(128, 128, 128, 0.105); /* เปลี่ยนสีพื้นหลังเป็นสีเทา */
}



.Left-Icon{
  margin: auto;
}

.Right-Icon{
  margin: auto;
}

.full-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.full-image-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  /* border: 1px solid rgba(255, 255, 255, 0.315);  */
}


.full-image-container-img {
  margin-left: 25%;
  width: 50%;
  height: 50%;
  object-fit: contain;
  aspect-ratio: 4/3;
  transition: transform 0.3s ease; /* เพิ่ม transition เพื่อให้การเปลี่ยนขนาดมีอาการเรียบขึ้น */
}

.full-image-container:hover .full-image-container-img {
  transform: scale(1.2); /* ขยายภาพเมื่อโฮเวอร์ */
}

.loading-famous{
  font-size: 20px;
  margin-left: 50%;
  margin-top: 50px;
}

.Famous-product{
  width: 80%;
  padding: 10px;
  margin-top: -20px;
}

.card-Famous {
  background-color: #ffffff;
  border: 5px solid hsl(0, 0%, 80);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0.1, 0.1%, 0.1%, 0.1);
  padding: 60px;
  width: 90%;
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-container-famous{
  width: 90vw;
  margin: 0 auto;
  display: flex;
}

.famous-sidebar{
  background-color: #ffffff;
  border: 1px solid hsla(0, 0%, 100%, 0.349);
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}

.Search-famous{
  margin-top: 5px;
}

.search-famous{
  display: flex;
}

.icon-search{
  margin: auto;
}

.map-famous{
  width: auto;
  height: 200px;
  margin: auto;
  background: url("src/assets/Screenshot.png");
}

.famous-button-map{
  margin-top: 35%;
  margin-left: 19%;
  width: 150px;
  height: 40px;
  color: #000;
  border: 1px solid #7fffd4;
  background-color: #7fffd4;
}

.famous-button-map:hover{
  margin-top: 35%;
  margin-left: 19%;
  width: 150px;
  height: 40px;
  color: #000;
  border: 1px solid #7fffd4;
  background-color: #03f8a6;
}

.image-container {
  display: flex;
  overflow-x: auto;
  max-width: auto; 
}

.item-image {
  width: 200px;
  height: 200px; 
  object-fit: cover; 
  margin-right: 5px; 
}

.box-item-bar-txt-1-famouss-name{
  font-size: 28px;
  font-weight: bold;
  color: #000;
  text-align: left;
}