.body-smoke{
    margin: 0;
    padding: 0;
    background: url("https://images.alphacoders.com/498/498263.jpg");
    background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=40);
    height: 100vh;
    background-repeat: no-repeat;
}

.smoke {
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.smoke-span {
    position: relative;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 50px;
    animation: animate 5s linear infinite; /* Corrected animation name */
}

.smoke-span-b{
    position: relative;
    color: #ffffff00;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 50px;
    animation: animate 5s linear infinite; /* Corrected animation name */ 
}

.smoke-span-a{
    position: relative;
    color: #ffffff00;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 50px;
    animation: animate 5s linear infinite; /* Corrected animation name */ 
}

.smoke-span:nth-child(1) {
    animation-delay: 0.9s;
}

.smoke-span:nth-child(2) {
    animation-delay: 1.0s;
}

.smoke-span:nth-child(3) {
    animation-delay: 1.2s;
}

.smoke-span:nth-child(4) {
    animation-delay: 1.3s;
}

.smoke-span:nth-child(5) {
    animation-delay: 1.4s;
}

.smoke-span:nth-child(6) {
    animation-delay: 1.5s;
}

.smoke-span:nth-child(7) {
    animation-delay: 1.6s;
}

.smoke-span:nth-child(8) {
    animation-delay: 1.7s;
}

.smoke-span:nth-child(9) {
    animation-delay: 1.8s;
}

.smoke-span:nth-child(10) {
    animation-delay: 1.9s;
}

.smoke-span:nth-child(11) {
    animation-delay: 2s;
}

.smoke-span:nth-child(12) {
    animation-delay: 2.1s;
}

.smoke-span:nth-child(13) {
    animation-delay: 2.2s;
}

.smoke-span:nth-child(14) {
    animation-delay: 2.3s;
}

.smoke-span:nth-child(15) {
    animation-delay: 2.4s;
}

.search-box{      
    position: absolute;   /* ให้อยู่นอกสุด */
    margin-top: 35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    
}

.search-card {
    position: absolute;
    border: 1px solid hsl(0, 0%, 100%);
    width: 90vw;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 5px 10px rgba(136, 136, 136, 0.26);
    margin-top: 35%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 55px;
    color: rgb(0, 0, 0);
    display: flex;
    border-radius: 5px;
}


@keyframes animate {
    20% {
        filter: blur(0);
    }

    100% {
        filter: blur(20px);
    }
}

.line-hotel{
    width: 40%;
}

.chack-in{
    width: 16%;
}

.chack-out{
    width: 16%;
}

.chack-person{
    text-align: center;
    width: 8%;
}

.chack-sun{
    text-align: center;
    width: 8%;
}

.chack-button{
    text-align: center;
    width: 12%;
}

.gsearch-hotel{
    width: 90%;
}

.birthday{
    width: 90%;
}

.cars{
    width: 50%;
}

