/* Profile.css */
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* สีพื้นหลังของการ์ด Profile */
  color: black; /* สีข้อความของการ์ด Profile */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* จัดข้อความกลางหน้า */
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: -36.4px;
  margin-left: 290px;
  margin-bottom: 10px;
  color: black;
}

.profile-birthday{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.profile-phonenumber{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -36.3px;
  margin-left: 290px;
  color: black;
}

.profile-address{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.profile-email {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.profile-address {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

.profile-phone {
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Bookinghistory.css */
.data-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
}

/* แก้ไข CSS สำหรับปุ่มแก้ไข */
.card-profile {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  height: 300px;
  width: 900px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  position: relative; /* เพิ่มแถบใต้การ์ดข้อมูล */
}

.card-profile-name {
  flex: 1;
  margin-right: 20px;
  text-align: left;
  margin-left: 10%;
}

.card-profile-proto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10%;
}

.card-profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1.2px solid #000000; /* เส้นสีดำตีรอบกล่อง */
}

.card-profile-edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  position: absolute; /* ตั้งค่าให้ปุ่มอยู่ที่ด้านล่าง */
  bottom: 10px;
  left: 50%; /* จัดตำแหน่งใต้ภาพโปรไฟล์ */
  transform: translateX(-50%); /* จัดตำแหน่งใต้ภาพโปรไฟล์และให้อยู่ตรงกลาง */
}

.card-profile-edit:hover {
  background-color: #218838;
}

.profile-name-profile-card{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}
