.card-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .coupon-box {
    width: auto;
    height: auto;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  .text-coupon{
    margin-top: 10px;
  }

  .img-coupon-card{
    width: 900px;
    height: auto;
  }