.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 184, 61);
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    max-width: 50px; /* ปรับขนาดให้เล็กลง เช่น 50px, 40px, 30% เป็นต้น */
    height: auto; /* คงความสัดส่วน */
  }
  
  .menubar a {
    color: #5d2800; /* สีข้อความเมนู */
    text-decoration: none; /* เอา underline ออก */
    margin: 0 20px;
  }
  
  .menubar-log {
    display: flex;
    align-items: center;
  }
  
  .manu-log a {
    color: #010101; 
    text-decoration: none; 
    margin-left: auto; 
  }
  
  .login-register-container {
    display: flex;
    justify-content: space-between; /* จัดการตำแหน่งแนวนอน */
    width: 100%; /* ทำให้เต็มความกว้างของพ่อแม่ */
  }
  
  .login-button,
  .register-button {
    flex: 1; /* ทำให้ทั้งสองช่องใช้พื้นที่เท่ากัน */
    padding: 10px 20px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255, 140, 0, 0.762); /* สีพื้นหลังที่มีความโปร่งแสง */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-button:hover,
  .register-button:hover {
    background: rgb(248,255,4);
    background: linear-gradient(90deg, rgba(248,255,4,1) 0%, rgba(190,235,39,1) 45%, rgba(0,255,65,1) 100%);
    color: #fff;
  }
  
  .box-nav-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-nav-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px; 
    border-radius: 10px; 
    margin-right: 10px; 
    border: 1.2px solid #ff5100; 
  }
  
  .profile-nav {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1.2px solid #727272; 
  }
  
  .name-manu-log {
    text-decoration: none;
    margin-top: 10px;
    color: black;
    font-weight: bold;
  }

  .manu:hover{
    text-decoration: underline;
  }

  .Out-Nav-P{
    margin-left: -10px;
    border: 1px solid #ff0000; 
    background-color: #ff0000;
    color: #ffffff;
  }

  .Out-Nav-P:hover{
    border: 1px solid #ff0000; 
    background-color: #ff000091;
    color: #ffffff;
  }

  .nav-item {
    font-size: 20px;
    color: #616161;
  }

  .nav-item:hover{
    color: #ff7255;
}

.menubar-partner{
  display: flex;
  justify-content: space-between;
  background: rgb(255, 184, 61);
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.manu{
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

.manu-icon{
  margin-right: 10px;
}

.eenev{
  margin: auto;
}

.eenev-p{
  background: rgb(255, 184, 61);
  border: 1.2px solid #000000; 
  color: #000;
  margin-right: 10px;
}

.eenev-p:hover{
  background: #b94700;
  border: 1.2px solid #000000; 
  color: #ffffff;
  margin-right: 10px;
}