.Community-product-aa{
    margin-left: 100px;
}

.community-photo-aa{
    width: 70%;
    height: 70%;
    border-radius: 4px;

}

.img-aa{
    margin-left: 20%;
}

.delete-button-aa{
    background: #ff0000;
}

.delete-button-aa:hover{
    background: #ad0000;
}