

.hotel-container{
    margin-top: -220px;
    width: auto;
    height: auto;
    margin-left: 200px;
}

.hotel-container-h1{
    margin-top: -250px;
    margin-left: 40%;
}

.hotel-box-try{
    margin-top: 20px;
    width: 95%;
    height: auto;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.popular__card {
  margin-bottom: 20px;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .popular__content {
    padding: 1rem;
  }

  .card-img {
    height: 400px; 
    object-fit: cover;
    width: 100%; 
  }
  
  .popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .popular__content p {
    color: var(--text-light);
  }

  .hotel-product{
    width: 80%;
    padding: 10px;
  }
  
  .hotel-sidebar{
    border: 1px solid hsla(0, 0%, 73%, 0.349);
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-Hotel {
    background-color: #ffffff;
    border: 5px solid hsl(0, 0%, 80);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0.1, 0.1%, 0.1%, 0.1);
    padding: 60px;
    width: 90%;
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search-container-hotel{
    padding: 10px;
  }

  .search-container-hotel-icon{
    margin-left: 10px;
  }

  .modal-problemp{
    width: 400px;
  }

  .modal-problemps{
    margin-top: 10px;
    width: 400px;
  }

  .button-problemp{
    text-align: center;
    padding: 10px;
  }

  .from-problemp{
    text-align: center;
  }

  .button-problemp-ko{
    width: 80px;
    height: 30px;
    border-radius: 10px ;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid hsla(0, 0%, 0%, 0.349);
  }

  .button-problemp-ko:hover{
    width: 80px;
    height: 30px;
    border-radius: 10px ;
    color: #747474;
    background-color: #28f000a9;
    border: 2px solid hsla(0, 0%, 0%, 0.349);
  }

  .button-problemp-no{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border-radius: 10px ;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid hsla(0, 0%, 0%, 0.349);
  }

  .button-problemp-no:hover{
    width: 80px;
    margin-left: 20px;
    height: 30px;
    border-radius: 10px ;
    color: #868686;
    background-color: #e40202a9;
    border: 2px solid hsla(0, 0%, 0%, 0.349);
  }

  .problemmp-ad{
    width: 120px;
    border-radius: 10px ;
    background-color: #ff0000;
  }

  .problemmp-ad:hover{
    width: 120px;
    border-radius: 10px ;
    background-color: #990000;
  }